---
http_interactions:
- request:
    method: get
    uri: https://blinkbid-local-larissa.chargify.com/subscriptions/67573194.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic UDEyTmNDSWFJVXRvMk5lTzBmNTE3NWVURWl1OW14Wk5KSjVHZVV0bzpY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f87ea7bcf1fbb94aeeb88cccee00d6ae"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subscription":{"id":67573194,"state":"trialing","trial_started_at":"2023-08-21T13:09:22-07:00","trial_ended_at":"2023-09-04T13:09:22-07:00","activated_at":null,"created_at":"2023-08-21T13:09:22-07:00","updated_at":"2023-08-21T13:09:22-07:00","expires_at":null,"balance_in_cents":0,"current_period_ends_at":"2023-09-04T13:09:22-07:00","next_assessment_at":"2023-09-04T13:09:22-07:00","canceled_at":null,"cancellation_message":null,"next_product_id":null,"next_product_handle":null,"cancel_at_end_of_period":false,"payment_collection_method":"automatic","snap_day":null,"cancellation_method":null,"current_period_started_at":"2023-08-21T13:09:22-07:00","previous_state":"trialing","signup_payment_id":906467483,"signup_revenue":"0.00","delayed_cancel_at":null,"coupon_code":null,"total_revenue_in_cents":0,"product_price_in_cents":19200,"product_version_number":1,"payment_type":null,"referral_code":null,"coupon_use_count":null,"coupon_uses_allowed":null,"reason_code":null,"automatically_resume_at":null,"coupon_codes":[],"offer_id":null,"payer_id":null,"receives_invoice_emails":null,"product_price_point_id":2328903,"next_product_price_point_id":null,"net_terms":null,"stored_credential_transaction_id":null,"reference":null,"currency":"USD","on_hold_at":null,"scheduled_cancellation_at":null,"product_price_point_type":"default","dunning_communication_delay_enabled":false,"dunning_communication_delay_time_zone":null,"current_billing_amount_in_cents":19200,"customer":{"id":70337947,"first_name":"Chargify","last_name":"Wrapper","organization":"BlinkBid","email":"Chargify@example.com","created_at":"2023-08-21T13:09:22-07:00","updated_at":"2023-08-21T13:09:22-07:00","reference":"XYZ","address":"123
        Mass Ave.","address_2":null,"city":"Boston","state":"MA","state_name":"Massachusetts","zip":"02120","country":"US","country_name":"United
        States","phone":"(617) 111 - 0000","portal_invite_last_sent_at":null,"portal_invite_last_accepted_at":null,"verified":false,"portal_customer_created_at":null,"vat_number":null,"cc_emails":null,"tax_exempt":false,"parent_id":null},"product":{"id":6459786,"name":"Lite-Annual-T","handle":"lite-annual-trial","description":"Users:
        1\r\nPersonalities: 1","accounting_code":"01","request_credit_card":true,"expiration_interval":null,"expiration_interval_unit":"never","created_at":"2023-04-12T14:08:44-07:00","updated_at":"2023-04-12T14:08:44-07:00","price_in_cents":19200,"interval":12,"interval_unit":"month","initial_charge_in_cents":null,"trial_price_in_cents":0,"trial_interval":14,"trial_interval_unit":"day","archived_at":null,"require_credit_card":false,"return_params":"","taxable":false,"update_return_url":"","tax_code":"","initial_charge_after_trial":false,"version_number":1,"update_return_params":"","default_product_price_point_id":2328903,"request_billing_address":false,"require_billing_address":false,"require_shipping_address":false,"use_site_exchange_rate":true,"item_category":null,"product_price_point_id":2328903,"product_price_point_name":"New
        Price May 2021","product_price_point_handle":"uuid:1b654700-8c25-0139-e084-06de0fa030d9","product_family":{"id":2520553,"name":"Blinkbid
        - USA","description":"Blinkbid software sold in the United States, in USD
        currency.","handle":"blinkbid-usa","accounting_code":null,"created_at":"2023-04-12T14:08:43-07:00","updated_at":"2023-04-12T14:08:43-07:00"},"public_signup_pages":[]}}}'
  recorded_at: Tue, 22 Aug 2023 12:23:10 GMT
- request:
    method: post
    uri: https://blinkbid-local-larissa.chargify.com/subscriptions/67573194/delayed_cancel.json
    body:
      encoding: UTF-8
      string: '{"subscription":{"cancellation_message":null,"reason_code":null}}'
    headers:
      Authorization:
      - Basic UDEyTmNDSWFJVXRvMk5lTzBmNTE3NWVURWl1OW14Wk5KSjVHZVV0bzpY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d65435b430c182a8a22c14ebf471fce4"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"message":"This subscription is scheduled to be canceled at the end
        of the current period"}'
  recorded_at: Tue, 22 Aug 2023 12:23:11 GMT
recorded_with: VCR 6.2.0
