---
http_interactions:
- request:
    method: get
    uri: https://blinkbid-local-larissa.chargify.com/subscriptions/67573194.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic UDEyTmNDSWFJVXRvMk5lTzBmNTE3NWVURWl1OW14Wk5KSjVHZVV0bzpY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"8185c8594aa0e4dcdbb191b032a2925a"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<subscription>\n  <id type=\"integer\">67573194</id>\n
        \ <state>trialing</state>\n  <trial_started_at type=\"datetime\">2023-08-21T13:09:22-07:00</trial_started_at>\n
        \ <trial_ended_at type=\"datetime\">2023-09-04T13:09:22-07:00</trial_ended_at>\n
        \ <activated_at nil=\"true\"/>\n  <created_at type=\"datetime\">2023-08-21T13:09:22-07:00</created_at>\n
        \ <updated_at type=\"datetime\">2023-08-22T05:23:11-07:00</updated_at>\n  <expires_at
        nil=\"true\"/>\n  <balance_in_cents type=\"integer\">0</balance_in_cents>\n
        \ <current_period_ends_at type=\"datetime\">2023-09-04T13:09:22-07:00</current_period_ends_at>\n
        \ <next_assessment_at type=\"datetime\">2023-09-04T13:09:22-07:00</next_assessment_at>\n
        \ <canceled_at nil=\"true\"/>\n  <cancellation_message nil=\"true\"/>\n  <next_product_id
        nil=\"true\"/>\n  <next_product_handle nil=\"true\"/>\n  <cancel_at_end_of_period
        type=\"boolean\">true</cancel_at_end_of_period>\n  <payment_collection_method>automatic</payment_collection_method>\n
        \ <snap_day nil=\"true\"/>\n  <cancellation_method nil=\"true\"/>\n  <current_period_started_at
        type=\"datetime\">2023-08-21T13:09:22-07:00</current_period_started_at>\n
        \ <previous_state>trialing</previous_state>\n  <signup_payment_id type=\"integer\">906467483</signup_payment_id>\n
        \ <signup_revenue>0.00</signup_revenue>\n  <delayed_cancel_at type=\"datetime\">2023-09-04T13:09:22-07:00</delayed_cancel_at>\n
        \ <coupon_code nil=\"true\"/>\n  <total_revenue_in_cents type=\"integer\">0</total_revenue_in_cents>\n
        \ <product_price_in_cents type=\"integer\">19200</product_price_in_cents>\n
        \ <product_version_number type=\"integer\">1</product_version_number>\n  <payment_type
        nil=\"true\"/>\n  <referral_code nil=\"true\"/>\n  <coupon_use_count nil=\"true\"/>\n
        \ <coupon_uses_allowed nil=\"true\"/>\n  <reason_code>CH:Unknown</reason_code>\n
        \ <automatically_resume_at nil=\"true\"/>\n  <coupon_codes type=\"array\"/>\n
        \ <offer_id nil=\"true\"/>\n  <payer_id nil=\"true\"/>\n  <receives_invoice_emails
        nil=\"true\"/>\n  <product_price_point_id type=\"integer\">2328903</product_price_point_id>\n
        \ <next_product_price_point_id nil=\"true\"/>\n  <net_terms nil=\"true\"/>\n
        \ <stored_credential_transaction_id nil=\"true\"/>\n  <reference nil=\"true\"/>\n
        \ <currency>USD</currency>\n  <on_hold_at nil=\"true\"/>\n  <scheduled_cancellation_at
        type=\"datetime\">2023-09-04T13:09:22-07:00</scheduled_cancellation_at>\n
        \ <product_price_point_type>default</product_price_point_type>\n  <dunning_communication_delay_enabled
        type=\"boolean\">false</dunning_communication_delay_enabled>\n  <dunning_communication_delay_time_zone
        nil=\"true\"/>\n  <current_billing_amount_in_cents type=\"integer\">0</current_billing_amount_in_cents>\n
        \ <customer>\n    <id type=\"integer\">70337947</id>\n    <first_name>Chargify</first_name>\n
        \   <last_name>Wrapper</last_name>\n    <organization>BlinkBid</organization>\n
        \   <email>Chargify@example.com</email>\n    <created_at type=\"datetime\">2023-08-21T13:09:22-07:00</created_at>\n
        \   <updated_at type=\"datetime\">2023-08-21T13:09:22-07:00</updated_at>\n
        \   <reference>XYZ</reference>\n    <address>123 Mass Ave.</address>\n    <address_2
        nil=\"true\"/>\n    <city>Boston</city>\n    <state>MA</state>\n    <state_name>Massachusetts</state_name>\n
        \   <zip>02120</zip>\n    <country>US</country>\n    <country_name>United
        States</country_name>\n    <phone>(617) 111 - 0000</phone>\n    <portal_invite_last_sent_at
        nil=\"true\"/>\n    <portal_invite_last_accepted_at nil=\"true\"/>\n    <verified
        type=\"boolean\">false</verified>\n    <portal_customer_created_at nil=\"true\"/>\n
        \   <vat_number nil=\"true\"/>\n    <cc_emails nil=\"true\"/>\n    <tax_exempt
        type=\"boolean\">false</tax_exempt>\n    <parent_id nil=\"true\"/>\n  </customer>\n
        \ <product>\n    <id type=\"integer\">6459786</id>\n    <name>Lite-Annual-T</name>\n
        \   <handle>lite-annual-trial</handle>\n    <description>Users: 1\r\nPersonalities:
        1</description>\n    <accounting_code>01</accounting_code>\n    <request_credit_card
        type=\"boolean\">true</request_credit_card>\n    <expiration_interval nil=\"true\"/>\n
        \   <expiration_interval_unit>never</expiration_interval_unit>\n    <created_at
        type=\"datetime\">2023-04-12T14:08:44-07:00</created_at>\n    <updated_at
        type=\"datetime\">2023-04-12T14:08:44-07:00</updated_at>\n    <price_in_cents
        type=\"integer\">19200</price_in_cents>\n    <interval type=\"integer\">12</interval>\n
        \   <interval_unit>month</interval_unit>\n    <initial_charge_in_cents nil=\"true\"/>\n
        \   <trial_price_in_cents type=\"integer\">0</trial_price_in_cents>\n    <trial_interval
        type=\"integer\">14</trial_interval>\n    <trial_interval_unit>day</trial_interval_unit>\n
        \   <archived_at nil=\"true\"/>\n    <require_credit_card type=\"boolean\">false</require_credit_card>\n
        \   <return_params></return_params>\n    <taxable type=\"boolean\">false</taxable>\n
        \   <update_return_url></update_return_url>\n    <tax_code></tax_code>\n    <initial_charge_after_trial
        type=\"boolean\">false</initial_charge_after_trial>\n    <version_number type=\"integer\">1</version_number>\n
        \   <update_return_params></update_return_params>\n    <default_product_price_point_id
        type=\"integer\">2328903</default_product_price_point_id>\n    <request_billing_address
        type=\"boolean\">false</request_billing_address>\n    <require_billing_address
        type=\"boolean\">false</require_billing_address>\n    <require_shipping_address
        type=\"boolean\">false</require_shipping_address>\n    <use_site_exchange_rate
        type=\"boolean\">true</use_site_exchange_rate>\n    <item_category nil=\"true\"/>\n
        \   <product_price_point_id type=\"integer\">2328903</product_price_point_id>\n
        \   <product_price_point_name>New Price May 2021</product_price_point_name>\n
        \   <product_price_point_handle>uuid:1b654700-8c25-0139-e084-06de0fa030d9</product_price_point_handle>\n
        \   <product_family>\n      <id type=\"integer\">2520553</id>\n      <name>Blinkbid
        - USA</name>\n      <description>Blinkbid software sold in the United States,
        in USD currency.</description>\n      <handle>blinkbid-usa</handle>\n      <accounting_code
        nil=\"true\"/>\n      <created_at type=\"datetime\">2023-04-12T14:08:43-07:00</created_at>\n
        \     <updated_at type=\"datetime\">2023-04-12T14:08:43-07:00</updated_at>\n
        \   </product_family>\n    <public_signup_pages type=\"array\"/>\n  </product>\n</subscription>\n"
  recorded_at: Fri, 01 Sep 2023 20:07:45 GMT
- request:
    method: post
    uri: https://blinkbid-local-larissa.chargify.com/subscriptions/67573194/delayed_cancel.xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <hash>
          <subscription>
            <cancellation-message nil="true"/>
            <reason-code nil="true"/>
          </subscription>
        </hash>
    headers:
      Authorization:
      - Basic UDEyTmNDSWFJVXRvMk5lTzBmNTE3NWVURWl1OW14Wk5KSjVHZVV0bzpY
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Location:
      - https://blinkbid-local-larissa.chargify.com/subscriptions/67573194
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Sep 2023 20:07:46 GMT
recorded_with: VCR 6.2.0
