---
http_interactions:
- request:
    method: post
    uri: https://blinkbid-local-larissa.chargify.com/subscriptions/new/delayed_cancel.xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <hash>
          <subscription>
            <cancellation-message nil="true"/>
            <reason-code nil="true"/>
          </subscription>
        </hash>
    headers:
      Authorization:
      - Basic UDEyTmNDSWFJVXRvMk5lTzBmNTE3NWVURWl1OW14Wk5KSjVHZVV0bzpY
      Content-Type:
      - application/xml
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Sep 2023 20:07:47 GMT
recorded_with: VCR 6.2.0
